<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./img/weather.png">
</head>
<body>
    <div class="main-content">{{>header}}
       <p class="flex"> This site was created by Tajamul Basheer Khanday. <br>It uses Data from mapbox.com and weatherstack.com</p>

    <img src="./img/pic.jpg" class="portrait img-fluid" alt=""></div>
    
    {{>footer}}
   
</body>
</html>